<div class="card card-accent-info">
  <div class="card-header">
    信息窗体事件 (请查看console输出)
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-outline-primary" (click)="open = !open">触发显示隐藏事件</button>
    <hr>
    <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]">
      <amap-info-window #infoWindow [(isOpen)]="open" [position]="[116.397428, 39.90923]"
        (windowOpen)="onInfoWindowEvent($event, 'windowOpen')"
        (windowClose)="onInfoWindowEvent($event, 'windowClose')"
        (windowChange)="onInfoWindowEvent($event, 'windowChange')"
      >
        我还是一个简单的信息窗体
      </amap-info-window>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>