<div class="row">
  <div class="col-12">
    <div id="demo2" class="panel panel-info">
      <div class="panel-body">
        <div class="form-group col-sm-6">
          <input class="form-control" placeholder="请输入城市的名称或者AreaCode" type="text" [(ngModel)]="myCityName">
        </div>
        <button class="form-control" class="btn btn-primary" (click)="myCity = myCityName">到指定城市</button>
        <hr>
        <ngx-amap class="demo-map" [city]="myCity"></ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;ngx-amap class="demo-map" [city]="myCity">&lt;/ngx-amap>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
          <tab heading='myCity'>
            <codeblock language="javascript">
              myCity = {{ myCity }}
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>