<div class="card card-accent-info">
  <div class="card-header">
    覆盖物：圆事件 (请查看console输出)
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-outline-primary" (click)="hide = !hide">触发显示隐藏事件</button>
    <hr>
    <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]" [zoom]="13">
      <amap-circle [options]="options" [hidden]="hide" [editor]="true"
        (circleClick)="onEvent($event, 'circleClick')"
        (ready)="onEvent($event, 'ready')"
        (dblClick)="onEvent($event, 'dblClick')"
        (rightClick)="onEvent($event, 'rightClick')"
        (circleHide)="onEvent($event, 'circleHide')"
        (circleShow)="onEvent($event, 'circleShow')"
        (mouseDown)="onEvent($event, 'mouseDown')"
        (mouseUp)="onEvent($event, 'mouseUp')"
        (mouseOver)="onEvent($event, 'mouseOver')"
        (mouseOut)="onEvent($event, 'mouseOut')"
        (change)="onEvent($event, 'change')"
        (touchStart)="onEvent($event, 'touchStart')"
        (touchMove)="onEvent($event, 'touchMove')"
        (touchEnd)="onEvent($event, 'touchEnd')"
        (editorMove)="onEditorEvent($event, 'editorMove')"
        (editorAdjust)="onEditorEvent($event, 'editorAdjust')"
        (editorEnd)="onEditorEvent($event, 'editorEnd')"
      ></amap-circle>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
