<div class="row">
  <div class="col-12">
    <div id="demo6-1" class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">直接设置属性</h4>
      </div>
      <div class="panel-body">
        <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]" [zoom]="13">
          <amap-polyline
            [path]="lineArr"
            [strokeColor]="'#3366FF'"
            [strokeOpacity]="1"
            [strokeWeight]="5"
            [strokeStyle]="'solid'"
            [strokeDasharray]="[10, 5]">
          </amap-polyline>
        </ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;amap-polyline
                [path]="lineArr"
                [strokeColor]="'#3366FF'"
                [strokeOpacity]="1"
                [strokeWeight]="5"
                [strokeStyle]="'solid'"
                [strokeDasharray]="[10, 5]">
              &lt;/amap-polyline>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
          <tab heading='component'>
            <codeblock language="javascript">
              lineArr = [
                [116.368904, 39.913423],
                [116.382122, 39.901176],
                [116.387271, 39.912501],
                [116.398258, 39.904600]
              ];
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="demo6-2" class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">利用options设置属性</h4>
      </div>
      <div class="panel-body">
        <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]" [zoom]="13">
          <amap-polyline [options]="lineOptions"></amap-polyline>
        </ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;amap-polyline [options]="lineOptions">&lt;/amap-polyline>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
          <tab heading='component'>
            <codeblock language="javascript">
              lineOptions = {{'{'}}
                path: this.lineArr,       // 设置线覆盖物路径
                strokeColor: '#3366FF',   // 线颜色
                strokeOpacity: 1,         // 线透明度
                strokeWeight: 5,          // 线宽
                strokeStyle: 'solid',     // 线样式
                strokeDasharray: [10, 5]  // 补充线样式
              };
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
