<section class="jumbotron text-center">
  <div class="container">
    <h1>NGX-AMAP</h1>
    <p>
      <img src="https://img.shields.io/npm/v/ngx-amap.svg" alt="version" class="mr-2">
      <img src="https://img.shields.io/npm/dm/ngx-amap.svg" alt="downloads">
    </p>
    <p>
      <img src="assets/img/angular.svg" width="64px" height="64px">
      <i class="fa fa-plus fa-2x ml-3 mr-4"></i>
      <img src="assets/img/amap_logo.png" width="50px" height="50px">
    </p>
    <p class="lead text-muted">ngx-amap 是为在<strong class="text-danger">Angular</strong>(ver >= 2.x)项目中便捷、高效地使用<strong class="text-danger">高德地图</strong>Javascript API而构建的组件集合</p>
    <p>
      <a href="https://xieziyu.github.io/ngx-amap/api-doc" class="btn btn-outline-success mr-2"><i class="fa fa-book"></i> 查看文档</a>
      <a href="https://github.com/xieziyu/ngx-amap" class="btn btn-outline-primary"><i class="fa fa-github"></i> Github</a>
    </p>
    <hr>
    <div class="row mt-2">
      <div class="col-md-12">
        <markdown ngPreserveWhitespaces>
          #### 支持的组件和服务
          | NGX-AMAP | 高德地图 | 类 | 演示示例 |
          | -------- | ------- | -- | -------- |
          |`ngx-amap`         | 地图             | **AMap.Map**        | [demo](#/ngx-amap/simple)         |
          |`amap-marker`      | 覆盖物：点标记    | **AMap.Marker**     | [demo](#/amap-marker/simple)      |
          |`amap-text`        | 覆盖物：文本标记  | **AMap.Text**       | [demo](#/amap-text/simple)        |
          |`amap-polyline`    | 覆盖物：折线      | **AMap.Polyline**   | [demo](#/amap-polyline/simple)    |
          |`amap-polygon`     | 覆盖物：多边线    | **AMap.Polygon**   | [demo](#/amap-polygon/simple)      |
          |`amap-bezier-curve`| 覆盖物：贝塞尔曲线 | **AMap.BezierCurve** | [demo](#/amap-bezier-curve/methods) |
          |`amap-circle`      | 覆盖物：圆        | **AMap.Circle**     | [demo](#/amap-circle/simple)      |
          |`amap-circle-marker` | 覆盖物：圆点标记 | **AMap.CircleMarker** | [demo](#/amap-circle-marker/simple) |
          |`amap-ellipse`     | 覆盖物：椭圆       | **AMap.Ellipse** | [demo](#/amap-ellipse/methods) |
          |`amap-rectangle`   | 覆盖物：矩形       | **AMap.Rectangle** | [demo](#/amap-rectangle/methods) |
          |`amap-info-window` | 信息窗体          | **AMap.InfoWindow** | [demo](#/amap-info-window/simple) |
          |`amap-tool-bar`    | 工具条插件        | **AMap.ToolBar**    | [demo](#/amap-tool-bar/simple)    |
          |`amap-marker-clusterer` | 点聚合插件   | **AMap.MarkerClusterer** | [demo](#/amap-marker-clusterer/simple) |
          |`AmapGeocoderService` | 地理编码服务   | **AMap.Geocoder** | [demo](#/AmapGeocoderService/encode) |
          |`AmapAutocompleteService` | 关键字提示服务 | **AMap.Autocomplete** | [demo](#/AmapAutocompleteService/search) |
          |`AmapPlaceSearchService` | 地点搜索服务 | **AMap.PlaceSearch** | [demo](#/AmapPlaceSearchService/simple) |
          |`AmapDistrictSearchService`| 行政区搜索服务 | **AMap.DistrictSearch** | [demo](#/AmapDistrictSearchService/simple) |
          |`AmapMouseToolService` | 鼠标工具插件 | **AMap.MouseTool** | [demo](#/AmapMouseToolService/simple) |
          |`amap-heatmap` | 图层：热力图 | **AMap.Heatmap** | [demo](#/amap-heatmap/simple) |
          |`AmapDrivingService` | 驾车路线规划服务 | **AMap.Driving** | [demo](#/AmapDrivingService/simple) |
          |`AmapTransferService` | 换乘路线规划服务 | **AMap.Transfer** | [demo](#/AmapTransferService/simple) |
        </markdown>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <markdown ngPreserveWhitespaces>
        ## 安装
        ```bash
        $ npm install ngx-amap --save
        # or
        $ yarn add ngx-amap
        ```
      </markdown>
    </div>
    <div class="col-md-6">
      <markdown ngPreserveWhitespaces>
        ## 使用
        ```typescript
        import {{'{'}} NgxAmapModule } from 'ngx-amap';

        @NgModule({{'{'}}
          imports: [
            ...,
            NgxAmapModule.forRoot({{'{'}}
              apiKey: '你申请的key'
            })
          ],
          ...
        })
        export class AppModule {{'{'}} }
        ```
      </markdown>
    </div>
  </div>
</div>
