<section class="jumbotron text-center">
  <div class="container">
    <h1>NGX-AMAP</h1>
    <p>
      <img src="/assets/img/angular.svg" width="64px" height="64px">
      <i class="fa fa-plus fa-2x ml-3 mr-4"></i>
      <img src="/assets/img/amap_logo.png" width="50px" height="50px">
    </p>
    <p class="lead text-muted">ngx-amap 是为在<strong class="text-danger">Angular</strong>(ver >= 2.x)项目中便捷、高效地使用<strong class="text-danger">高德地图</strong>Javascript API而构建的组件集合</p>
    <p>
      <a href="https://github.com/xieziyu/ngx-amap" class="btn btn-outline-primary"><i class="fa fa-github"></i> Github</a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h2>ngx-amap</h2>
          <p>组件：地图容器</p>
          <p>
            <a routerLink="/ngx-amap" class="btn btn-primary">demo >></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h2>amap-marker</h2>
          <p>指令：点标记</p>
          <p>
            <a routerLink="/amap-marker" class="btn btn-primary">demo >></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h2>amap-polyline</h2>
          <p>指令：折线</p>
          <p>
            <a routerLink="/amap-polyline" class="btn btn-primary">demo >></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
