<div class="card card-accent-info">
  <div class="card-header">
    点标记事件 (请查看console输出)
  </div>
  <div class="card-body">
    <ngx-amap class="demo-map" [resizeEnable]="true" [center]="[116.397428, 39.90923]" [zoom]="13">
      <amap-marker [position]="[116.397428, 39.90923]" [draggable]="true"
        (ready)="onMarkerEvent($event, 'ready')"
        (markerClick)="onMarkerEvent($event, 'markerClick')"
        (dblClick)="onMarkerEvent($event, 'dblClick')"
        (rightClick)="onMarkerEvent($event, 'rightClick')"
        (mouseMove)="onMarkerEvent($event, 'mouseMove')"
        (mouseOver)="onMarkerEvent($event, 'mouseOver')"
        (mouseOut)="onMarkerEvent($event, 'mouseOut')"
        (mouseDown)="onMarkerEvent($event, 'mouseDown')"
        (mouseUp)="onMarkerEvent($event, 'mouseUp')"
        (dragStart)="onMarkerEvent($event, 'dragStart')"
        (dragging)="onMarkerEvent($event, 'dragging')"
        (dragEnd)="onMarkerEvent($event, 'dragEnd')"
        (touchStart)="onMarkerEvent($event, 'touchStart')"
        (touchMove)="onMarkerEvent($event, 'touchMove')"
        (touchEnd)="onMarkerEvent($event, 'touchEnd')"
        (moving)="onMarkerEvent($event, 'moving')"
        (moveend)="onMarkerEvent($event, 'moveend')"
        (movealong)="onMarkerEvent($event, 'movealong')"
      ></amap-marker>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
  