.search-results {
  position: fixed;
  color: #fff;
  z-index: 10;
  background-color: #29363D;
  top: 55px;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
  max-height: 900px;
  padding: 0 200px;
}

.search-column {
  margin: 16px;
  height: 100%;

  ul {
    list-style: none;
    padding-left: 0;

    li a {
      color: #d3d3d3;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: #fff;
      }
    }
  }
}