<div class="card card-accent-info">
  <div class="card-header">
    地图事件 (请查看console输出)
  </div>
  <div class="card-body">
    <ngx-amap class="demo-map" [resizeEnable]="true"
      (complete)="onMapEvent($event, 'complete')"
      (ready)="onMapEvent($event, 'ready')"
      (mapmove)="onMapEvent($event, 'mapmove')"
      (movestart)="onMapEvent($event, 'movestart')"
      (moveend)="onMapEvent($event, 'moveend')"
      (zoomchange)="onMapEvent($event, 'zoomchange')"
      (zoomstart)="onMapEvent($event, 'zoomstart')"
      (zoomend)="onMapEvent($event, 'zoomend')"
      (resize)="onMapEvent($event, 'resize')"
      (mapClick)="onMapEvent($event, 'mapClick')"
      (dblClick)="onMapEvent($event, 'dblClick')"
      (rightClick)="onMapEvent($event, 'rightClick')"
      (mouseMove)="onMapEvent($event, 'mouseMove')"
      (mouseOver)="onMapEvent($event, 'mouseOver')"
      (mouseWheel)="onMapEvent($event, 'mouseWheel')"
      (mouseOut)="onMapEvent($event, 'mouseOut')"
      (mouseUp)="onMapEvent($event, 'mouseUp')"
      (mouseDown)="onMapEvent($event, 'mouseDown')"
      (touchStart)="onMapEvent($event, 'touchStart')"
      (touchMove)="onMapEvent($event, 'touchMove')"
      (touchEnd)="onMapEvent($event, 'touchEnd')"
      (hotspotClick)="onMapEvent($event, 'hotspotClick')"
      (hotspotOver)="onMapEvent($event, 'hotspotOver')"
      (hotspotOut)="onMapEvent($event, 'hotspotOut')"
      (dragStart)="onMapEvent($event, 'dragStart')"
      (dragging)="onMapEvent($event, 'dragging')"
      (dragEnd)="onMapEvent($event, 'dragEnd')"
    ></ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>