<div class="card card-accent-info">
  <div class="card-header">
    简单示例
  </div>
  <div class="card-body">
    <button class="btn btn-outline-primary mr-2" (click)="heatmap.show()">显示热力图</button>
    <button class="btn btn-outline-primary" (click)="heatmap.hide()">隐藏热力图</button>
    <hr>
    
    <!-- AMap.Heatmap -->
    <ngx-amap class="demo-map" [center]="[116.418261, 39.921984]" [zoom]="11">
      <amap-heatmap #heatmap="heatmap"
        [options]="options"
        [dataset]="dataset"
        (ready)="onHeatmapReady($event)">
      </amap-heatmap>
    </ngx-amap>

    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="支持的配置和方法">
          <a href="api-doc/directives/AmapHeatmapDirective.html" target="_blank">查看在线文档</a>
        </tab>
      </tabset>
    </div>
  </div>
</div>