<div class="card card-accent-info">
  <div class="card-header">
    简单示例
  </div>
  <div class="card-body">
    <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]" [zoom]="13">
      <amap-polygon
        [path]="polygonArr"
        [strokeColor]="'#FF33FF'"
        [strokeOpacity]="0.2"
        [strokeWeight]="3"
        [fillColor]="'#1791fc'"
        [fillOpacity]="0.35">
      </amap-polygon>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="code_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="code_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="支持的Input">
          <a href="api-doc/directives/AmapPolygonDirective.html" target="_blank">查看在线文档</a>
        </tab>
      </tabset>
    </div>
  </div>
</div>
