<nz-page-header nzTitle="AmapAutocompleteService 搜索提示">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>首页</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>服务</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Autocomplete</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <a href="api-doc/services/AmapAutocompleteService.html" target="_blank">
      API 文档
    </a>
  </nz-page-header-extra>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="简单示例">
    <ng-template nz-tab>
      <demo-amap-autocomplete-simple></demo-amap-autocomplete-simple>
    </ng-template>
  </nz-tab>
</nz-tabset>

