<nz-page-header nzTitle="ngx-amap 地图">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>首页</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>组件</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>ngx-amap</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <a href="api-doc/components/NgxAmapComponent.html" target="_blank">
      API 文档
    </a>
  </nz-page-header-extra>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="简单示例">
    <ng-template nz-tab>
      <demo-ngx-amap-simple></demo-ngx-amap-simple>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="事件示例">
    <ng-template nz-tab>
      <demo-ngx-amap-events></demo-ngx-amap-events>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="调用方法">
    <ng-template nz-tab>
      <demo-ngx-amap-methods></demo-ngx-amap-methods>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="加载插件">
    <ng-template nz-tab>
      <demo-ngx-amap-plugins></demo-ngx-amap-plugins>
    </ng-template>
  </nz-tab>
</nz-tabset>

