<div class="card card-accent-info">
  <div class="card-header">
    简单示例
  </div>
  <div class="card-body">
    <ngx-amap class="demo-map" [center]="[108, 34]" [zoom]="4">
      <amap-circle-marker *ngFor="let marker of markers"
        [center]="marker.center"
        [radius]="marker.radius"
        [strokeColor]="'white'"
        [strokeOpacity]="0.5"
        [strokeWeight]="2"
        [fillColor]="'rgba(0,0,255,1)'"
        [fillOpacity]="0.5"
        [zIndex]="10"
        [bubble]="true"
        [cursor]="'pointer'">
      </amap-circle-marker>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="支持的Input">
          <a href="api-doc/directives/AmapCircleMarkerDirective.html" target="_blank">查看在线文档</a>
        </tab>
      </tabset>
    </div>
  </div>
</div>
