<div class="card card-accent-info">
  <div class="card-header">
    简单示例
  </div>
  <div class="card-body">
    <button class="btn btn-outline-primary" (click)="toggleLabel()">
      切换自定义文本标签
    </button>
    <hr />
    <ngx-amap
      class="demo-map"
      [resizeEnable]="true"
      [center]="[116.397428, 39.90923]"
      [zoom]="13"
    >
      <amap-marker
        [position]="[116.311428, 39.90923]"
        [icon]="icon"
        [label]="label"
        type="svg"
      ></amap-marker>
      <amap-marker
        [position]="[116.411428, 39.90923]"
        [icon]="icon"
        [label]="label"
        type="svg"
        iconLabel="A"
        [shape]="shape"
      ></amap-marker>
      <amap-marker
        [position]="[116.422428, 39.90923]"
        [icon]="icon"
        [label]="label"
        type="svg"
        iconLabel="B"
        [shape]="shape2"
      ></amap-marker>
      <amap-marker
        [position]="[116.433428, 39.90923]"
        [icon]="icon"
        [label]="label"
        type="svg"
        iconLabel="C"
        [shape]="shape3"
      ></amap-marker>
      <amap-marker
        [position]="[116.444428, 39.90923]"
        [icon]="icon"
        [label]="label"
        type="svg"
        iconLabel="D"
        [shape]="shape4"
      ></amap-marker>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="支持的Input">
          <a href="api-doc/directives/AmapMarkerDirective.html" target="_blank"
            >查看在线文档</a
          >
        </tab>
      </tabset>
    </div>
  </div>
</div>
