<nz-page-header nzTitle="amap-circle 圆形">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>首页</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>指令</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>amap-circle</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <a href="api-doc/directives/AmapCircleDirective.html" target="_blank">
      API 文档
    </a>
  </nz-page-header-extra>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="简单示例">
    <ng-template nz-tab>
      <demo-amap-circle-simple></demo-amap-circle-simple>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="事件示例">
    <ng-template nz-tab>
      <demo-amap-circle-events></demo-amap-circle-events>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="调用方法">
    <ng-template nz-tab>
      <demo-amap-circle-methods></demo-amap-circle-methods>
    </ng-template>
  </nz-tab>
</nz-tabset>

