<h1>
  ngx-amap demo
</h1>
<hr>
<div class="row">
  <div class="col-12">
    <div class="well">
      <ul>
        <li><a routerLink="/demo1" routerLinkActive="active">ngx-amap: MapOptions example</a></li>
        <li><a routerLink="/demo2" routerLinkActive="active">ngx-amap: Extra properties</a></li>
        <li><a routerLink="/demo3" routerLinkActive="active">amap-marker</a></li>
        <li><a routerLink="/demo4" routerLinkActive="active">plugin: amap-tool-bar</a></li>
        <li><a routerLink="/demo5" routerLinkActive="active">amap-info-window</a></li>
        <li><a routerLink="/demo6" routerLinkActive="active">amap-polyline</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
