<h1>
  ngx-amap
</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <ul>
        <li>
          <a href="#demo1">Demo 1: Standard Map</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="demo1" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 1: Standard Map</h3>
      </div>
      <div class="panel-body">
        <ngx-amap class="demo-map"></ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;ngx-map class="demo-map">&lt;/ngx-map>
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>