<div class="card card-accent-info">
  <div class="card-header">
    正地理编码
  </div>
  <div class="card-body">
    <form (ngSubmit)="query()" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="address" required [(ngModel)]="address" name="inputAddress" placeholder="输入地址">
      </div>
      <button type="submit" class="btn btn-outline-primary">查询</button>
    </form>
    <hr>
    <ngx-amap class="demo-map" [resizeEnable]="true" [center]="point" [zoom]="16">
      <amap-marker [position]="point">
        <amap-info-window [offset]="{x: 0, y: -30}" [isOpen]="true">
          {{locationInfo}}
        </amap-info-window>
      </amap-marker>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="API">
          <a href="api-doc/injectables/AmapGeocoderService.html" target="_blank">查看在线文档</a>
        </tab>
      </tabset>
    </div>
  </div>
</div>