<div class="card card-accent-info">
  <div class="card-header">
    简单示例
  </div>
  <div class="card-body">
    <ngx-amap class="demo-map-lg" [resizeEnable]="true" [center]="[105, 34]" [zoom]="4">
      <amap-marker-clusterer [gridSize]="80" [styles]="customStyles">
        <amap-marker *ngFor="let marker of markers"
          [inCluster]="true"
          [position]="marker"
          [offset]="{x:-15, y:-15}">
        </amap-marker>
      </amap-marker-clusterer>
    </ngx-amap>
    <div class="mt-3">
      <tabset>
        <tab heading="HTML">
          <markdown [data]="demo_md_html | language: 'html'"></markdown>
        </tab>
        <tab heading="Component">
          <markdown [data]="demo_md_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>