// core overrides
$navbar-brand-width: 210px;

$theme-color: #29363D;
$navbar-brand-bg: $theme-color;
$navbar-bg: $theme-color;
$navbar-color: #fff;
$navbar-hover-color: #999999;

$navbar-brand-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $theme-color
  )
);

$navbar-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $theme-color
  )
);

$sidebar-borders: (
  top: (
    size:                             1px,
    style:                            solid,
    color:                            #fff
  )
);

$navbar-active-color: #fff;