// Here you can add other styles
.demo-map {
  height: 400px;
}

.demo-map-lg {
  height: 500px;
}

.tab-content {
  pre {
    max-height: 280px;
    overflow-y: auto;
  }
}

a.nav-link {
  cursor: pointer;
}

markdown table {
  margin: auto !important;
}