<div class="row">
  <div class="col-12">
    <div id="demo4-1" class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Simple Example</h4>
      </div>
      <div class="panel-body">
        <ngx-amap class="demo-map">
          <amap-tool-bar></amap-tool-bar>
        </ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;ngx-amap class="demo-map">
                &lt;amap-tool-bar>&lt;/amap-tool-bar>
              &lt;/ngx-amap>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="demo4-2" class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">More Options</h4>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="togglePlugin()">显示/隐藏 控件</button>
        <button class="btn btn-primary" (click)="toggleRuler()">显示/隐藏 标尺</button>
        <button class="btn btn-primary" (click)="toggleDirection()">显示/隐藏 方向键盘</button>
        <button class="btn btn-primary" (click)="toggleLocation()">显示/隐藏 定位部件</button>
        <hr>
        <ngx-amap class="demo-map">
          <amap-tool-bar [ruler]="showRuler" [direction]="showDirection" [locate]="showLocate" [hidden]="pluginHidden" (zoomChanged)="onZoomChanged($event)"></amap-tool-bar>
        </ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;ngx-amap class="demo-map">
                &lt;amap-tool-bar [ruler]="showRuler" [direction]="showDirection" [locate]="showLocate" [hidden]="pluginHidden" (zoomChanged)="onZoomChanged($event)">&lt;/amap-tool-bar>
              &lt;/ngx-amap>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
          <tab heading='options'>
              <codeblock language="json">
              {{'{'}}
                "showRuler": {{ showRuler }},
                "showDirection": {{ showDirection }},
                "showLocate": {{ showLocate }},
                "pluginHidden": {{ pluginHidden }}
              }
              </codeblock>
            </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
