<div class="row">
  <div class="col-12">
    <div id="demo1" class="panel panel-info">
      <div class="panel-body">
        <ngx-amap class="demo-map">
          <amap-tool-bar></amap-tool-bar>
        </ngx-amap>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html">
              &lt;ngx-amap class="demo-map">
                &lt;amap-tool-bar>&lt;/amap-tool-bar>
              &lt;/ngx-amap>
            </codeblock>
          </tab>
          <tab heading='scss'>
            <codeblock language="css">
              .demo-map {{'{'}}
                height: 400px;
              }
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
